:root {
  --headersColor: rgba(26, 26, 26, 0.9);
  --tinyLineColor: rgba(85, 85, 85, 0.3);
  --groundColor: rgba(42, 42, 42, 0.9);
}

body::-webkit-scrollbar,
.noScroll::-webkit-scrollbar,
#input::-webkit-scrollbar,
#autocomplete::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

#input,
#autocomplete {
  box-sizing: border-box;
  padding: 18px 44px 24px 18px;
  width: 99%;
  height: 66px;
  max-height: 300px;
  font-size: 18px;
  border: 0;
  background: none;
  resize: none;
  color: white;
}

#autocomplete {
  position: absolute;
  top: 25px;
  color: #555;
  z-index: 0
}

#input:focus,
#autocomplete:focus {
  outline: none;
}

.inputContainer {
  position: relative;
  display: flex;
}

.icons {
  right: 0;
  position: absolute;
  padding: 18px 18px 18px 0;
}

.audio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #888;
  transition: all 0.1s ease-out;
}

.audio:hover {
  background: white;
}

.audio:hover .play {
  fill: #2a2a2a;
}

.audio:active {
  background: #999;
}

.play {
  margin-left: 6px;
  margin-bottom: 2px;
  width: 8px;
  fill: #888;
}

.sgt {
  padding: 3px 18px;
  border-top: 1px solid var(--tinyLineColor);
  color: #aaa;
  font-size: 11px;
  cursor: default;
  line-height: 1.2em;
}

.on-sgt {
  background: var(--headersColor);
}

.sgt div:first-child {
  color: white;
}

.error {
  padding: 18px;
  color: palevioletred;
}

.didYouMean {
  font-size: 14px;
  color: #999;
  padding: 6px 18px;
  cursor: default;
}

.didYouMean p {
  margin: 0;
}

.didYouMean i {
  color: #0077B5;
  transition: all 0.1s ease-out;
}

.didYouMean i:hover {
  color: #00AFF0;
}

.didYouMean i:active {
  color: #333;
}
