.scroll {
  max-height: 329px;
  overflow: scroll;
  font-size: 14px;
}

.pronunciation,
.traslation,
.definitions,
.translations,
.synonyms,
.examples,
.seeAlso {
  box-sizing: border-box;
  width: 100%;
}

.pronunciation {
  padding: 3px 18px;
  font-size: 14px;
  border-top: 1px solid #555;
  color: #aaa;
}

#translation {
  box-sizing: border-box;
  padding: 18px 44px 24px 18px;
  width: 99%;
  max-height: 300px;
  font-size: 18px;
  border: 0;
  background: none;
  resize: none;
  color: white;
}

#translation:focus {
  outline: none;
}

.t_box {
  border-top: 1px solid #999;
  height: 100%;
  box-shadow: 0 9px 18px 1px rgba(26, 26, 26, 0.4);
}

.examples li {
  color: #ccc;
  margin: 9px 18px 9px 9px;
}

.examples li b {
  color: white;
  font-weight: 700;
}

.header {
  padding: 3px 18px;
  color: #999;
  margin: 0;
  background: var(--headersColor);
}

.span {
  color: white;
}

.type {
  padding: 9px 18px;
  color: #aaa;
  border-bottom: 1px solid #555;
}

.type:last-child {
  border-bottom: 0;
}

.section {
  margin-left: 70px;
  margin-top: 9px;
}
.list {
  margin: 0;
  padding: 0;
  margin-top: 9px;
  margin-left: 85px;
}
.obj {
  margin-left: 70px;
}

.section div {
  margin: 3px;
}

.content div {
  color: white;
  margin: 9px 18px;
}

.list li {
  list-style-position: outside;
  margin-bottom: 6px;
  color: white;
}

.obj {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--tinyLineColor);
}

.obj:last-child {
  border-bottom: 0;
}

.rating {
  width: 35px;
  margin-right: 3px;
}

.bar {
  margin: 8px 0;
  height: 9px;
  background: var(--headersColor);
  float: right;
}

.common {
  width: 35px;
}

.uncommon {
  width: 20px;
}

.rare {
  width: 10px;
}

.word {
  margin: 3px;

  color: white;
}

.values {
  margin: 3px;
  color: #aaa;
  width: 380px;
}

.article {
  margin: 3px;
  min-width: 10px;
}
